<nav class="navbar">
  <div class="nav-container">
    <a routerLink="/" class="nav-logo">Turistička Aplikacija</a>
    <div class="nav-links">
      <a *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active">Prijava</a>
      <a *ngIf="!isLoggedIn" routerLink="/register" routerLinkActive="active">Registracija</a>
      <a *ngIf="isAdmin" routerLink="/admin/users" routerLinkActive="active"
      >Korisnici</a
      >
      <a *ngIf="isLoggedIn && !isAdmin" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a *ngIf="isLoggedIn && !isAdmin" routerLink="/blogs" routerLinkActive="active">Blog</a>
      <a *ngIf="isLoggedIn && isGuide" routerLink="/create-tour" routerLinkActive="active">Create tour</a>
      <a *ngIf="isLoggedIn && isGuide" routerLink="/tours" routerLinkActive="active">Tours</a>
      <a *ngIf="isLoggedIn && !isAdmin && !isGuide" routerLink="/position-simulator" routerLinkActive="active">Position simulator</a>
      <button *ngIf="isLoggedIn" (click)="logout()" class="logout-button">
        Odjavi se
      </button>
    </div>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>
