<div class="blog-list-container">
  <h2>Prikaz svih blogova</h2>

  <button (click)="goToCreateBlog()" class="add-blog-button">Dodaj novi blog</button>

  <div *ngIf="loading" class="loading-indicator">Učitavanje blogova...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>

  <div *ngIf="!loading && !error">
    <div *ngIf="posts.length > 0" class="posts-grid">
      <div *ngFor="let post of posts" class="post-card">
        <p class="post-author-top">{{ post.Username }}</p>
        <h3>{{ post.Title }}</h3>
<markdown [data]="post.Description"></markdown>
        <div *ngIf="post.imageURLs && post.imageURLs.length > 0" class="post-images">
          <img *ngFor="let imageUrl of post.imageURLs"
               [src]="'http://localhost:8081' + imageUrl"
               alt="Blog image"
               class="blog-post-image">
        </div>

        <div class="post-footer-details">
            <p class="created-at">Kreirano: {{ post.CreatedAt | date:'shortDate' }}</p>
            <p class="likes-count">Lajkova: {{ post.LikesCount !== undefined ? post.LikesCount : 0 }}</p>
        </div>

        <div class="post-actions">
          <button (click)="toggleLike(post.ID)" class="like-button">
            {{ post.isLikedByUser ? 'Dislike' : 'Like' }}
          </button>
          <button (click)="openComments(post.ID)" class="comment-button">
            Comments
          </button>
        </div>

        <div *ngIf="post.showComments" class="comments-section">
          <div *ngFor="let comment of post.comments" class="comment-item">
            <p class="comment-author">{{ comment.username }}</p>
            <p class="comment-text">{{ comment.text }}</p>
            <p class="comment-meta">
              {{ comment.createdAt | date:'short' }}
              <span> (Updated: {{ comment.updatedAt | date:'short' }})</span>
            </p>
          </div>

          <div class="add-comment-form">
          <textarea [(ngModel)]="post.newCommentText" placeholder="Add comment..." rows="3"></textarea>
          <button (click)="addComment(post)">Share comment</button>
        </div>
        </div>

      </div>
    </div>
    <div *ngIf="posts.length === 0" class="no-posts-message">
      <p>Nema dostupnih blogova. Budite prvi koji će dodati post!</p>
    </div>
  </div>
</div>