<div class="user-table">
  <h2>Lista korisnika</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Korisničko ime</th>
        <th>Email</th>
        <th>Uloga</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td class="td-btn">
          <button (click)="toggleBlock(user)"
            [ngClass]="user.isBlocked ? null : 'btn-red'">
            {{ user.isBlocked ? 'Unblock' : 'Block' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
